<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', path='/styles/error.css') }}">
        <link rel="icon"href="{{ url_for('static', path='favicon.png') }}">
        <meta charset="UTF-8">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
        <title>Error!</title>
    </head>
    <body>
        <div>
            <h1>Error! Try clearing your cookies!</h1>
            <p>
                Something went wrong. Please try again later.
            </p>
            <p>
                If the problem persists, please contact the administrator.
            </p>
            <pre>
                {{ error }}
            </pre>
        </div>
    </body>
</html>